// A component will have style of all the elements related to it even the typography.

.cool-about-me {
    &__text-container {
        position: relative;
        padding-left: 3rem;
        text-align: left;

        &:not(:last-child) {
            padding-bottom: 3rem;
            border-left: 3px solid $clr-2-1;
        }
    }

    &__circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $clr-2;
        position: absolute;
        box-shadow: 0 0.5rem #fff;

        &--1 {
            left: -21.5px;
        }

        &--2 {
            left: -18.5px;
        }
    }

    &__text {
        padding: 0.2rem 0.5rem;
        list-style: none;
        margin-bottom: 1rem;
    }

    &__text-box {
        margin: 3rem 0 0 3rem;
    }
}


@media (max-width: 900px) {
    .section__container--about-me {
        flex-direction: column;
    }

    .image-1 {
        width: 100%;
        height: auto;
    }

    .about-me-text-box {
        padding-left: 2rem;
        margin-left: 2rem;
    }
}
