/* About Me */
.about-me {
    text-align: center;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;
    }

    &__image-container {
        margin: 1rem;
    }

    &__image {
        width: 50rem;
        height: auto;
    }
}

/* My Projects */
.my-projects {
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__project {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__text-container {
        max-width: 400px;
        text-align: left;
        margin-left: 5rem;
    }

    &__image {
        width: 500px;
        height: auto;
    }
}

/* Contact Me */
.contact-me {
    display: flex;
    justify-content: center;

    &__container {
        margin: 3rem;
        display: flex;
        max-width: 100rem;
    }

    &__text-container {
        max-width: 45rem;
    }

    &__approachable {
        color: $clr-1;
    }

    &__form-container {
        margin: 0 5rem;
        max-width: 55rem;
    }

    input {
        margin: 1rem 1rem;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border-style: none;
        background-color: $clr-dark-input;
        color: $clr-white;
    }

    textarea {
        margin: 1rem 1rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        background-color: $clr-dark-input;
        color: $clr-white;
        border-style: none;
        resize: vertical;
    }

    &__fname {
        width: 40%
    }

    &__lname {
        width: 40%
    }

    &__email {
        width: 60%
    }

    &__message {
        display: block;
    }

    &__submit {
        cursor: pointer;
        background-color: $clr-1 !important;
        color: $clr-black !important;
        border-radius: 0.5rem;
        font-family: $ff-primary;
    }
}

