/* About Me */
.about-me {
    text-align: center;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__image-container {
        width: 40%;

        @include respond(tab-port) {
            width: 60%;
            margin-bottom: 4rem;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}

/* My Projects */
.my-projects {
    text-align: center;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__project {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3rem;

        @include respond(tab-port) {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 6rem;
        }
    }

    &__text-container {
        width: 40%;
        text-align: left;

        @include respond(tab-port) {
            width: 80%;
        }
    }

    &__image-container {
        width: 30%;

        @include respond(tab-port) {
            width: 60%;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
    }
}

/* Contact Me */
.contact-me {
    display: flex;
    justify-content: center;

    @include respond(phone) {
        display: block;
    }

    &__container {
        margin: 3rem;
        display: flex;
        max-width: 100rem;
        align-items: center;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__text-container {
        max-width: 45rem;
        margin-bottom: 3rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__approachable {
        color: $clr-1;
    }

    &__form-container {
        max-width: 55rem;

        @include respond(phone) {
            max-width: 40rem;
        }
    }

    input {
        margin: 1rem;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        border-style: none;
        background-color: $clr-dark-input;
        color: $clr-white;

        @include respond(phone) {
            display: block;
        }
    }

    textarea {
        margin: 1rem 1rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        background-color: $clr-dark-input;
        color: $clr-white;
        border-style: none;
        resize: vertical;

        @include respond(phone) {
            width: 70%;
        }
    }

    &__fname {
        width: 40%;

        @include respond(phone) {
            width: 50%;
        }
    }

    &__lname {
        width: 40%;

        @include respond(phone) {
            width: 50%;
        }
    }

    &__email {
        width: 60%;

        @include respond(phone) {
            width: 50%;
        }
    }

    &__message {
        display: block;
    }

    &__submit {
        cursor: pointer;
        background-color: $clr-1 !important;
        color: $clr-black !important;
        border-radius: 0.5rem;
        font-family: $ff-primary;
    }
}
